.wrapper {
    max-width: 850px;
    display: grid;
    // justify-content: center;
}

.terminal {
    max-width: 700px;
    position: relative;
    margin-top: 150px;
    font-family: 'Source Code Pro', sans-serif;

    .label {
        font-size: 24px;
        
        .userDefine {
            color: #91ea39; 
        }
    }

    .pastCommands {
        position: absolute;
        bottom: 30px;

        .pastCommand {
            font-size: 24px;
        }
    }

    .inp {
        display: flex;
        align-items: center;

        .terminalInput {
            flex-grow: 1;
            width: 100%;
            font-size: 24px;
            margin-left: 14px;
            outline: none;
            border: none;
            color: #fff;
            background-color: transparent;
            font-family: 'Source Code Pro', sans-serif;
        }
    }
}

.timer {
    font-size: 20px;
    font-family: 'Source Code Pro', sans-serif;
    margin-top: 100px;
}

.wordsSection {
    margin-top: 10px;
    position: relative;
    overflow: hidden;
    height: 90px;
    padding: 5px;
    // background: red;
    font-family: 'Source Code Pro', sans-serif;
    max-width: 80%;
}

.words {
    display: flex;
    flex-wrap: wrap;
    column-gap: 15px;
    row-gap: 10px;
    transform: translateY(0px);
    user-select: none;

    .word {
        padding: 5px 5px;
        border-radius: 2px;
        font-size: 20px;
        font-weight: 700;
        background: #fff;
        color: #2C001E;
        
        &.true {
            box-shadow: 0 0 0 3px #2C001E,
                    0 0 0 5px #91ea39;
        } 

        &.wrong {
            box-shadow: 0 0 0 3px #2C001E,
            0 0 0 5px red;
        }
    }
}

.results {
    margin-top: 30px;
    font-family: 'Source Code Pro', sans-serif;

    .line {
        display: flex;

        span {
            text-decoration: underline;
            cursor: pointer;
        }

        .res {
            margin-left: 10px;
        }
    }
}

.promote {
    background-color: #400d30;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    inset: 0;
    top: auto;
    padding: 10px 0;
    font-size: 14px;

    .madeBy {
        color: rgb(230, 230, 230);

        .bylink {
            color: rgb(202, 255, 69);

            &:hover {
                text-decoration: underline;
            }
    
            &:hover, &:active, &:visited {
                color: rgb(202, 255, 69);
            }
        }
    }

    .star {
        margin-left: 15px;
    }
}
